<form class="mat-flex-form">
  <div class=" mat-headline-6">
    <p class="font-sans text-4xl pt-6 pb-8 tracking-tighter"
      [ngClass]="{'appDescriptionPortrait': ifHandsetPortrait, 'appDescriptionLandscape': ifHandsetLandscape}">
      Tell me what's on your <span class="underline decoration-sky-500">mind</span>, and I'll tell you what's in your
      <span class="underline decoration-pink-500">heart</span>.
    </p>
  </div>

  <mat-form-field class="item">
    <mat-hint>Describe your feelings</mat-hint>
    <mat-label><span class="animation-pulse text-pink-400">Type here ...</span></mat-label>
    <input matInput placeholder="My boss told me that my problem-solving skills have improved lately"
      [formControl]="promptControl" [(ngModel)]="sentence" #prompt>
  </mat-form-field>
  <mat-hint hidden [ngClass]="{'matHintMobilePortrait': ifWeb}">{{userInput}}</mat-hint>

  <div class="mat-button ">
    <button class="rounded bg-pink-600 text-white hover:bg-pink-500 disabled:opacity-75 py-2 px-2 "
      (click)=" analyzeSentence()" [disabled]="!sentence" required>How
      do I
      feel?</button>
  </div>
  <app-emotional-status *ngIf="buttonClicked" [emotionsNormalized]="emotionsNormalized">
  </app-emotional-status>

</form>

<div *ngIf="loadingSpinner" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-flex-status" *ngIf="statusLoaded" #emotions>
  <p class=" mat-headline-4" [ngClass]="{'mat-headline-4-mobilePortrait': ifHandsetPortrait}">Your emotional status</p>
  <p class="emotion-description" [ngClass]="{'emotion-description-mobilePortrait': ifHandsetPortrait}">
    {{emotionDescription}}</p>
  <div *ngIf="buttonClicked"><span class="material-icons animate-ping scale-150 text-red-500">
      favorite
    </span></div>
</div>
<div id="emotional-status"></div>
<router-outlet></router-outlet>