/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './theme.scss' as theme;
@import "theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
        url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
        url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

@include theme.inputBorderBottomColor($sky-theme);
@include theme.inputBackgroundColor($sky-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    background-color: rgba(0, 0, 0, 0.12);
}

.mat-flex-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mat-flex-status {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
.spinner-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.mat-headline-1 {
    font-size: 5.9vw;
}
.mat-headline-1,
.mat-subtitle-2 {
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.mat-headline-4 {
    margin-block-end: 0.4em;
}

.mat-flex-status p:last-of-type {
    font-size: small;
}
.mat-flex-status div:first-child {
    margin-block-start: 1em;
}
.mat-flex-status div h4 {
    font-size: xx-large;
}
.mat-flex-status h4 {
    margin-block: 0;
}
.mat-flex-status .emotion-description {
    margin: 0 10%;
}

.mat-flex-status .btn-get-colors {
    margin: 2% 0;
}

.mat-headline-6 {
    align-self: left;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 100;
    font-size: inherit;
    line-height: unset;
    margin-top: 1em;
    text-align: center;
}
.mat-button {
    margin: 0 auto;
}
.mat-mdc-form-field {
    margin: 0 10%;
}

/* window screen sizes */
/* Text To Emotion component */
.appDescriptionPortrait {
    font-size: 16px;
    line-height: 1.4em;
}
.appDescriptionLandscape {
    font-size: 14px;
    line-height: 1.3em;
}
.matHintMobilePortrait {
    display: inline;
}
.mat-headline-4-mobilePortrait {
    font-size: x-large;
}
.emotion-description-mobilePortrait {
    font-size: 0.9em;
    line-height: 1.4;
    text-align: center;
}

/* Header component */
.mat-headline-1-handsetPortrait {
    font-size: xx-large;
    line-height: unset;
}
.mat-headline-5-handsetPortrait {
    font-size: 18px;
}

/* Header and Footer components */

footer {
    position: fixed;
    background-color: #fef67f;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    height: max-content;
    padding: 1em 0;
}

footer a {
    text-decoration: none;
    color: #ff8351;
}
